<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List activities</title>
</head>
<body>
    <table>
        <tr>
            <thead>
                <th>Id</th>
                <th>Gym ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Date</th>
                <th>Time</th>
            </thead>
        </tr>
        <tbody>
            {% for ts in activity_timeslots.items %}
            {% for activity in activities.items %}
            {% if ts.activity_id == activity.id %}
            <tr>
                <td>{{ts.id}}</td>
                <td>{{activity.gym_id}}</td>
                <td>{{activity.name}}</td>
                <td>{{activity.description}}</td>
                <td>{{ts.date}}</td>
                <td>{{ts.time}}</td>
            </tr>
            {% endif %}
            {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</body>
</html>