<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Reservations</title>
</head>

<body>
    <table>
        <tr>
            <thead>
                <th>Gym Id</th>
                <th>Activity</th>
                <th>Date</th>
                <th>Time</th>
            </thead>
        </tr>
        <tbody>
            {% for ts in activity_timeslot.items %}
            {% for activity in activities.items %}
            {% if activity.id == ts.activity_id %}
            {% for gym in gyms.items %}
            {% if gym.id == activity.gym_id %}
            <tr>
                <td>{{gym.id}}</td>
                <td>{{activity.name}}</td>
                <td>{{ts.date}}</td>
                <td>{{ts.time}}</td>
            </tr>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</body>

</html>